@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600;700&display=swap');

@theme{
  --color-primary: #5B21B6;
  --font-display: "Josefin Sans", sans-serif
}

:root {
  --font-family: "Josefin Sans", sans-serif;
  --primary-color: #5B21B6;
  --hover-color: #41187e;
  --bg-light: #f7fafc;
  --text-dark: #2d3748;
  --border-color: #d1d5db;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0px;
}