@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600;700&display=swap');

:root {
  --font-family: "Josefin Sans", sans-serif;
  --primary-color: #5B21B6;
  --hover-color: #41187e;
  --bg-light: #f7fafc;
  --text-dark: #2d3748;
  --border-color: #d1d5db;
}
body {
  margin: 0px;
  padding: 0px;
}