services:
  db:
    image: mysql:8.0
    container_name: ecommercedb
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: ecommerce
    ports:
      - "3306:3306"
    volumes:
      - ./mysql-data:/var/lib/mysql