.footer{
    bottom: 0;
    z-index: 20;
}
.container{
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family);
    margin-bottom: 10px;
}
.icon{
    color: red;
}
a{
    text-decoration: none;
}