.card {
  width: 100%;        /* 180px KALDIR */
  max-width: 180px; 
  height: 282px;

  display: flex;
  flex-direction: column;

  border: 1px solid black;
  border-radius: 6px;
  overflow: hidden; /* image taşmasını keser */
}

/* IMAGE CONTAINER */
.imageWrapper {
  width: 100%;
  height: 144px; /* üst alan */
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* oran korunur, kart dolar */
  display: block;
}

/* CONTENT */
.content {
  flex: 1;
  padding: 8px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.title {
  font-size: 14px;
  font-weight: 600;
  margin: 4px 0;
  font-family: var(--font-family);
}
 
.description {
  font-size: 12px;
  color: #555;
  margin: 4px 0;
  font-family: var(--font-family);
}

.price {
  margin-top: 6px;
}
