.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 180px;
    min-width: 180px;
    max-height: 270px;
    min-height: 270px;
    border: 1px solid black;
    border-radius: 5px;
}